name: Build iSH iOS IPA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout iSH
        uses: actions/checkout@v4
        with:
          repository: ish-app/ish
          path: ish

      - name: Set up Ruby (for fastlane)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install Fastlane
        run: |
          gem install fastlane
      - name: Build IPA
        working-directory: ish
        run: |
          fastlane gym \
            --scheme "iSH" \
            --configuration "Release" \
            --output_directory "../build" \
            --output_name "iSH-JIT.ipa" \
            --export_method ad-hoc \
            --silent

      - name: Archive IPA
        uses: actions/upload-artifact@v4
        with:
          name: iSH-JIT-IPA
          path: ish/build/iSH-JIT.ipa
